
* {
  margin: 0;
  font-family: arial;
  box-sizing: border-box;
}

@font-face {
  font-family: 'text00';
  src: url('./font/Metropolis-BoldItalic.otf');
}
@font-face {
  font-family: 'sonix';
  src: url('./font/BellynaTuberosDemo-Regular.ttf');
}

@font-face {
  font-family: 'text11';
  src: url('./font/vintage_straps_bold.ttf');
}

@font-face {
  font-family: 'text22';
  src: url('./font/OrangeAvenueOutlineDEMO-Regular.otf');
}

@font-face {
  font-family: 'text33';
  src: url('./font/Garcian.otf');
}

@font-face {
  font-family: 'text44';
  src: url('./font/Kaerobi.ttf');
}

@font-face {
  font-family: 'text55';
  src: url('./font/SpaceMono-Bold.ttf');
}

@font-face {
  font-family: 'text66';
  src: url('./font/PlusJakartaSans-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'text77';
  src: url('./font/Aclonica-Regular.ttf');
}



/* #home Section */

.head-home {
  height: 725px;
  background-color: #2D2D2D;
  color: white;
}
  

.left-side1 h1{
  font-size: 55px;
  color:white;
}

.left-side1 h1 span {
  color: #F2B50B;
}

.left-side1 h4 {
  margin-bottom: 40px;
  letter-spacing: 1px;
  font-family: sonix;
  font-weight: lighter;
} 
 
  
  

.left-side1 p {
  margin-top: 40px;
  max-width: 500px;
  
}

#buttom-x {
  padding: 15px 30px;
  margin-top: 40px;
}
#buttom-y {
  padding: 15px 30px;
  margin-left: 20px;
}

.left-side1 p a{
  font-family: sonix ;
}
 


.right-side-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
}

.pf-picure-right {
  margin-top: -20px;
  background-image: url('siburam.n7.webp');
  background-position: center;
  background-size: cover;
  height: 350px;
  width: 320px;
  border-bottom-left-radius: 150px;
  z-index: 2;
  position:absolute;
  left: 10px;
  filter: grayscale(0%) brightness(0.9) contrast(1);
  
}
  


.pf-picure-right1 {
  border-bottom-left-radius: 150px;
  margin-top: 250px;
  background-color: #3a8f1c;
  height: 330px;
  width: 320px;
  position: relative;
}


.left-side1 {
  margin-right: 75px;
}

.head-home {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background-color: transparent;
}

.bg-video {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.1);
  z-index: -1; 
  filter: grayscale(20%) brightness(0.8);
}
  
.navbar {
  background-color: transparent;
}


.fa-linkedin-in:hover {
  color: #4CBB17;
}

.fa-github:hover {
  color: #4CBB17;
}

.fa-square-twitter:hover {
  color: #4CBB17;
}

.fa-x-twitter:hover {
  color: #4CBB17;
}

.fa-instagram:hover {
  color: #4CBB17;
}


.head-home::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 250px;
  background: linear-gradient(to bottom, transparent, #1a1a1a);
  z-index: -1;
}


















/* #project section */


html {
  scroll-behavior: smooth;
}

#Offre {
  scroll-margin-top: 100px;
}

.navbar {
  
  position: absolute;
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  z-index: 2;
  padding: 0 20px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-bottom: 2px solid rgba(255,255,255,0.1);
  z-index: 999;
  box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}
  



.menu {
  display: none;
  margin-right: 45px;
}

.menu:hover {
  transform: scale(1.15);
}

.picture-head {
  background-image: url('cbux-logo.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 60px;
  width: 120px;
  /* border-radius: 50%; */
}

.picture-head:hover {
  transform: scale(1.03);
}
  


.left {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 15px;
  /* font-weight: lighter; */
  margin-left: 45px;
  margin-right: 35px;
}


.group-tag {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin: 0px 20%;
  
}

.group-tag a {
  text-decoration: none;
  font-size: 14px;
  color: white;
  padding: 12px 18px;
  border-radius: 3px;
  border: 2px solid transparent;
}

.group-tag a:hover {
  color:#4CBB17;
  border: 2px solid #4CBB17;
}
  

#colorx {
  color: #4CBB17;
  border-bottom: 2px solid #4CBB17;
}

 
.under-line4 {
  margin-right: 50px;
}




.logo1 {
  display: flex;
  gap: 13px ;
  margin-right: 45px;
  color: white;
  font-size: 20px;
}

.fa-brands:hover {
     transform: scale(1.15);
}
.name {
  font-weight: bold;
  font-size: 15px;
}

.name:hover {
  cursor: pointer;
}
  
    
  


.info-x {
  font-size: 13px;
}

.head {
  height: 100%;
  /* background-color: #2D2D2D; */
  background-color: #1a1a1a;
  background: linear-gradient(to bottom, #1a1a1a, #2D2D2D);
  color: white;
  backdrop-filter: blur(10px);
  /* border-top: 2px solid rgba(255,255,255,0.1); */
  background: linear-gradient(
    to bottom,
    rgba(0,0,0,0.8),
  );
    
}


.head-top {
  display: flex;
  justify-content:space-evenly;
}


.left-side1 {
  max-width: 750px;
  display: flex;
  flex-direction: column;
  margin-top: 200px;
  
}

.left-side1 h5{
 
  font-size: 11px;
  color:#aaa;
  cursor: pointer;
  position: relative;
  margin-left: 5px;
}


.left-side1 p {
  color: #c7c4c4;
  font-size: 12px;
  letter-spacing: 1px;
}

.left-side1 p a {
  text-decoration: none;
  color:rgb(255, 188, 106);
}

.btn {
  display: inline-block;
  color: white;
  background-color: #494949;
  border-radius: 8px;
  text-decoration: none;
  text-align: center;
  width: fit-content;
  font-family: 'sonix';
  letter-spacing: 1px;
  font-size: 13px;
  transition: all 0.3s ease;
  }

  .btn:hover {
    background-color: #4CBB17;
  }

  .btn i {
    margin-left: 8px;
    transition: transform 0.3s ease;
  }

  .btn:hover i {
  transform: translateX(8px);
}
    
 .btn i:hover {
    transform: translateX(8px);
 }


 .head-projects {
  display: flex;
  justify-content: space-evenly;
  padding-top: 0px;
 }

 .head-projects h2 {
  position: relative;
  display: inline-block;
  letter-spacing: 1px;
 }

  .head-projects h2,
  .wr-wt h2 {
    font-size: 35px;
    font-family: 'text11';
  }
  

  
  


.head-projects h2::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  width: 60%;
  height: 1.5px;
  background: #50d313;
  transform: translate(-50%);
}

.head-projects h2:hover::after {
  width: 70%;
  cursor: pointer;
}

.head-projects h2:active {
  cursor: pointer;
}



.box-main {
  display: flex;
  justify-content: center;
}

.box-1 {
  display: flex;
  margin-top: 50px;
  /* border: 2px solid white; */
  min-height: 400px;
  width: 85%;border-radius: 25px;
}

.left-box {
  display: flex;
  /* max-width: 1000px; */
  height: 100%;
  width: 50%;
  flex-direction: column;
  background-color: white;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  color: black;
  gap: 18px;
  justify-content: center;
  gap: 15px;
  align-items: flex-start;
  padding-left: 60px;
}

.right-box {
  height: 100%;
  width: 50%;
  background-color: #ff1414;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  color: black;

  background-size: cover;
  background-position: center;
  background-image: url('box-1.png');
}

.left-box h2 {
 margin: 0;
}
  
  

.left-box p{
  font-size: 14px;
  max-width: 500px;
  color: #494949;
  line-height: 1.6;
  /* letter-spacing: 1px; */
}

.left-box button {
  height: 40px;
  width: 120px;
  border-radius: 25px;
  margin-top: 25px;
  background-color: #4CBB17;
  color: white;
  border: none;
  font-family: 'sonix';
}

.left-box button:hover {
  cursor: pointer;
  background-color: #4b9c26;
}



.left-box2 {
  height: 100%;
  width: 50%;
  background-color: #ff1414;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  color: black;
  background-position: center;
  background-size: cover;
  background-image: url('box-2.png');
}

.right-box2 {
  display: flex;
  /* max-width: 1000px; */
  height: 100%;
  width: 50%;
  flex-direction: column;
  background-color: white;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  color: black;
  gap: 18px;
  justify-content: center;
  gap: 15px;
  align-items: flex-start;
  padding-left: 60px;
}

.right-box2 h2{
  margin: 0;
}

.right-box2 p {
  font-size: 14px;
  max-width: 500px;
  color: #494949;
  line-height: 1.6;
  /* letter-spacing: 1px; */
}

.right-box2 button{
  height: 40px;
  width: 120px;
  border-radius: 25px;
  margin-top: 25px;
  background-color: #4CBB17;
  color: white;
  border: none;
  font-family: 'sonix';
}

.right-box2 button:hover {
  cursor: pointer;
  background-color: #4b9c26;
}

.right-box3 {
   height: 100%;
  width: 50%;
  background-color: #ff1414;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  color: black;
  background-position: center;
  background-size: cover;
  background-image: url('box-3.png');
}


.working-with {
  display: flex;
  justify-content: space-evenly;
  margin-top: 75px;
}

.working-with h2 {
  position: relative;
  display: inline-block;
  letter-spacing: 1px;
}

.working-with h2::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -7px;
  width: 60%;
  height: 1.5px;
  background: #50d313;
  transform: translate(-50%);
}

.working-with h2:hover::after {
  width: 70%;
  cursor: pointer;
}

.working-with h2:active {
  cursor: pointer;
}


.boxs-main {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  margin-left:20%;
  margin-right: 20%;
  margin-bottom: 100px;
}

.boxs-1 {
  height: 70px;
  width: 15%;
  /* border: 2px solid white; */
  border-radius: 5px;
}

.boxs-1:hover {
  border: 5px solid white;
}

#Extra-box {
  display: none;
}



.a-img {
  background-image:url('logox1.png');
  background-size: cover;
  background-position: center;
}

.b-img {
  background-image:url('logox2.png');
  background-size: cover;
  background-position: center;
}

.c-img {
  background-image:url('logox3.png');
  background-size: cover;
  background-position: center;
}

.d-img {
  background-image:url('logox4.png');
  background-size: cover;
  background-position: center;
}

.e-img {
  background-image:url('logox5.png');
  background-size: cover;
  background-position: center;
}



.boxs-main-service {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-left:20%;
  margin-right: 20%;
}

.boxs-1x {
  height: 125px;
  width: 25%;
  /* border: 2px solid white; */
  border-radius: 5px;
  transition: all 0.3s ease;
  border: 2px solid transparent;
}
 
.boxs-1x:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.4);
  border: 2px solid #4CBB17;
  
}

.a1-img {
  background-image:url('photo-1x.png');
  background-size: cover;
  background-position: center;
}

.b1-img {
  background-image:url('photo-2x.png');
  background-size: cover;
  background-position: center;
}

.c1-img {
  background-image:url('photo-3x.png');
  background-size: cover;
  background-position: center;
}


.main-text {
  display: flex;
  justify-content: space-between;
  margin-right: 22.5%;
  margin-left: 22.5%;
  margin-top: 10px;
  transition: 0.3s;
}

.main-text h5:hover{
  color: #4CBB17;
  cursor: pointer;
}

.paragraph-1x {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.paragraph-1x p {
  margin-left: 20%;
  margin-right: 20%;
  line-height: 1.5;
  margin-top: 50px;
 text-align: center;
}


.contact-main {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 80px;
  width: 80%;
  margin: auto;
  border-top: 1px solid rgba(255,255,255,0.1);
  padding-top: 90px;
}

.contact-left{
  margin-top: 10%;
  width: 40%;
}

.contact-text h4 {
  font-weight: normal;
  margin-bottom: 5px;
  color: #aaa;
  
}

.contact-text h4 a {
  color :#50d313;
  text-decoration: none;
}
 

.contact-text h4 a:hover {
  text-decoration: underline;
}

.contact-text h2 {
  font-size: 40px;
  margin-bottom: 18px;
  font-family: text11;
}

.contact-text h2 span {
  color: #F2B50B;
  font-family: text11;
}

.contact-logo {
  margin-top: 30px;
  display: flex;
  gap: 20px;
  font-size: 20px;
  color: #aaa;
}

.contact-right {
  width: 50%;
}
  




.form-group input {
  border-radius: 3px;
}

.form-group textarea {
  height: 150px;
  border-radius: 3px;
}

.form-group:last-child {
  margin-bottom: 0;
}

.form-group {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 25px auto;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 14px;
  border: 2px solid #ccc;
  outline: none;
  background: transparent;
  color: white;
}

.form-group label {
  position: absolute;
  left: 12px;
  top: 16px;
  color: #aaa;
  pointer-events: none;
  transition: 0.3s;
}

.form-group input:focus + label,
.form-group input:valid + label,
.form-group textarea:focus + label,
.form-group textarea:valid + label {
  top: -10px;
  left: -10px;
  font-size: 15px;
  color: #4CBB17;
  background:#2D2D2D;
  padding: 0 5px;
}

.form-group input,
.form-group textarea {
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255,255,255,0.2);
}

.form-group input:invalid + label{
  color: red;
}


.form-group textarea:invalid  + label {
  color: red;
}

.Contact-space {
  margin-bottom: 40px;
}

.form-group button{
  margin-top: 20px;
  padding: 12px 50px;
  background-color: #4CBB17;
  color: white;
  border: none;
  border-radius: 2px;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s ease;
  margin-bottom: 100px;
}


.form-group button:hover {
  background-color: #398b19;
  transition: scale(1.05);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #2b2b2b inset;
  -webkit-text-fill-color: #ffffff;
  transition: background-color 5000s ease-in-out 0s;
}

.footer-bg {
  background-color: #1f1f1f;
  border-top: 1px solid rgba(255,255,255,0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 100%;
}

.footer-bg p {
  color: #aaa;
  font-size: 13px;
  letter-spacing: 1px;
}

.footer-logo {
  display: none;
}



img {
  max-width: 100%;
  height: auto;
}




@media (max-width: 1024px) {
  .navbar {
    height: 100px;
  }

  #menu-option {
    color: white;
    margin-right: 30px;
    display: block;
    font-size: 30px;
  }

  .picture-head {
    height: 90px;
    width: 160px;
    margin-left: -40px;
  }



  /* Head Home Start */

  body {
  background-color: #1a1a1a;
  }

  .head-home {
   padding-top: 40px;
  }

  .head-top {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .left-side1 {
    margin: 0px;
    align-items: center;
    justify-content: center;
  }
  
  .left-side1 {
    margin-top: 120px;
  }

  .left-side1 h1 {
    font-size: 75px;
  }

  .left-side1 p {
    font-size: 19px;
    max-width: 550px;
    text-align: center;
    align-items: center;
  }

  .left-side1 h4 {
    margin-left: 0  ;
    margin-bottom: 10px;
    font-size: 20px;
  }

  .btn-box a {
    font-size: 25px;
  }

  .pf-picure-right1 {
    margin-top: 0;
  }

  .pf-picure-right1 {
    margin-top: 100px;
  }


  





  /* Project Box Start */


  .left-box2,
  .right-box3,
  .right-box {
    max-height: 350px;
  }


  .box-1 {
    flex-direction: column;
    width: 95%;
  }
  .left-box,
  .right-box,
  .left-box2,
  .right-box2,
  .right-box3 {
    width: 100%;
    height: 600px;
    border-radius: 0;
    padding: 50px;
  }

  .left-box,
  .left-box2 {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  
  .right-box,
  .right-box2,
  .right-box3 {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  .box-main {
    margin: 0 5%;
    flex-direction: row;
    justify-content: center;
  }

  .boxs-main-service {
    margin: 3% 5%;
    flex-direction: row;
    justify-content: space-evenly;
    
  }

  .left-box h2,
  .right-box2 h2 {
    font-size: 40px;
  }

  .left-box p ,
  .right-box2 p{
    font-size: 19px;
  }

   .left-box button ,
  .right-box2 button {
    font-size: 18px;
     height: 50px;
     width: 150px;
  }
 
 .boxs-1x {
    height: 90px;
    width: 180px;
 }


   /* Working With And ETC */

 .main-text {
    margin: 3% 5%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 6%;
 }
  
 .boxs-main {
   margin: 3% 5%;
   flex-direction: row;
   justify-content: space-evenly;
  
  }
 
  .boxs-1 {
    height: 70px;
    width: 130px;
    /* border: 2px solid white; */
    border-radius: 5px;
    margin-top: 30px;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    max-width: 50%;
    margin: 25px auto;
  }



 /* Contact page Start */

  .form-group {
    max-width: 100%;
  }

  .contact-left {
    margin-top: 20px;
  }




 /* Footer Page Start */

  .footer-bg {
    height: 90px;
  }

     /* All Corection Here */

  .navbar a {
    display: none;
  }

  .logo1{
    display:none;
  }
}








@media (max-width:768px) {
  .navbar {
    
    height: 60px;
    padding: 10px;
  }
    

  #menu-option {
    color: white;
    margin-right: 10px;
    display: block;
  }

  .navbar a {
    display: none;
  }
  
  .picture-head {
    height: 45px;
    width: 90px;
    margin-left: -40px;
  }

  #menu-option {
    margin-right: 10px;
    display: block;
    font-size: 17px;
 }


   /* Head Option Start */

  .body {
   background-color: #1a1a1a;
  }

  .head-home {
    height: 480px;
  }
    
  
  .head-top {
    
    flex-direction: column;
   
  }

  .left-side1 {
    align-items: flex-start;
    margin: 0;
    max-width: 90%;
  }

  .left-side1 {
    margin-top: 50px;
  }

  .left-side1 h1{
   font-size: 38px;
   color:white;
   text-align: left;
   margin-left: -20px;
  }

 .left-side1 h1 span {
   color: #F2B50B;
  }

 .left-side1 h4 {
   margin-bottom: 20px;
   letter-spacing: 1px;
   font-family: sonix;
   font-weight: lighter;
   font-size: 12px;
   text-align: left;
   margin-left: -20px;
 } 
  
 .btn-box a {
  font-size: 10px;
 } 

 .left-side1 p {
   margin-top: 30px;
   width:300px ;
   text-align: left;
   margin-left: -20px;
   font-size: 10.5px;
 }

 #buttom-x {
   padding: 15px 30px;
   margin-top: 40px;
  margin-left: 10px;
 }
 #buttom-y {
   padding: 15px 30px;
   margin-left: 20px;
   margin-right: 10px;
 }

 .left-side1 p a{
   font-family: sonix ;
 }
  
 .pf-picure-right1 {
   display: none;
 }
 
  body {
  background-color: #1a1a1a;
 }
  
 
 


    

  

  /* Project Box Start   */
  

 .box-1 {
  flex-direction: column;
  width: 95%;
  margin-top: 25px;
 }

 .left-box,
  .right-box,
  .left-box2,
  .right-box2,
  .right-box3 {
    width: 100%;
    height: 310px;
    padding: 20px;
    
  }
  
  .right-box,
  .left-box2,
  .right-box3 {
    height: 190px;
  }

  .left-box h2,
  .right-box2 h2 {
    font-size: 22px;
  }

  .left-box p,
  .right-box2 p {
    font-size: 11px;
    padding: 0;
    line-height: 1.4;
  }
    
  
  .left-box button,
  .right-box2 button {
    height: 30px;
    width: 90px;
    border-radius: 5px ;
    font-size: 11px;
    margin-top: 10px;
    font-family: 'sonix';
  }

  

  .head-projects h2,
  .wr-wt h2 {
    font-size: 30px;
    font-family: 'text11';
  }
  

  .working-with {
    margin-top: 50px;
  }
    
 .boxs-main-service {
  flex-direction: row;
  margin: 0 20px;
 }

  .boxs-1x {
    height: 60px;
    width: 90px;
 }
 
 .main-text {
    margin: 3% 5%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 6%;
 }

 .main-text h5 {
  font-size: 9px;
 }

 .paragraph-1x p{
    font-size: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 5%;
    margin-right: 5%;
    line-height: 1.5;
    text-align: center;
 }
  
 #Extra-box {
  display: flex;
 }

 .scroll-wrapper {
    overflow: hidden;
    width: 85%;
    position: relative;
    margin: 0 auto;
    padding: 10px 0;
  }


 .boxs-main {
   display: flex;
   width: max-content;
   animation: scroll 12s linear infinite;
  }
   

 .boxs-1 {
   margin: 20px 15px;
   height: 40px;
   width: 80px;
   background-size: cover;
   background-position: center;
  }


  @keyframes scroll {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(-50%);
    }
  }
  
  

  /* From Group Start */





  .contact-main {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 45px;
    width: 95%;
    margin: auto;
    padding-top: 0px;
    text-align: center;
 }
  
 .contact-left{
  /* margin-top: 20px; */
  width: 90%;
 }
  


 .contact-text h4 {
  font-weight: normal;
  margin-bottom: 5px;
  color: #aaa;
  font-size: 12px;
 }
  
 .contact-text h2 {
  font-size: 30px;
  margin-bottom: 18px;
  font-family: text11;
  letter-spacing: 1px;
 }

 
 .contact-logo {
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  display: flex;
  gap: 10px;
  font-size: 15px;
  color: #aaa;
  padding: 0;
 }
  

  .contact-right {
    
   width: 100%;
  /* margin-left: -10%; */
 }

  .form-group {
   margin-top: 0px;
   flex-direction: column;
   width: 100%;
   max-width: 70%;
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
   
  #massage-box textarea {
    height: 90px;
  }

  .form-group label {
    position: absolute;
    left: 10px;
    top: 10px;
     
    color: #aaa;
    pointer-events: none;
    transition: 0.3s;
    font-size: 12px;
  }

  
  .form-group input:focus + label,
  .form-group input:valid + label,
  .form-group textarea:focus + label,
  .form-group textarea:valid + label {
    font-size: 12px;
  }
    
  .form-group button{
    margin-top: 15px;
    padding: 8px 40px;
    border-radius: 3px;
    font-size: 12px;
    font-family: 'sonix';
 }  



   /* Footer Section Start */


  
 .footer-bg {
    flex-direction: column;
    height: 60px;
    justify-content: space-evenly;
  } 

  .footer-bg p {
    font-size: 9px;
    letter-spacing: 0;
    text-align: center;
  }
  
  .footer-logo {
    display: none;
    color: white;
  }
    
  .form-group:last-child {
  margin-bottom: 0;
  }
 
  







} 
  
    
    
    
    

  
  
  




